@mixin stroke($width, $color) {
    $shadow: ();
    @for $i from -$width through $width {
        $shadow: append($shadow,#{$width}px #{$i}px $color, comma);
        $shadow: append($shadow,#{-$width}px #{$i}px $color, comma);
        $shadow: append($shadow,#{$i}px #{$width}px $color, comma);
        $shadow: append($shadow,#{$i}px #{-$width}px $color, comma);
    }
    text-shadow: $shadow;
}

$web-color: rgb(236, 235, 235);
$data-color: black;

@mixin homepage-button($color,$stroke-color){
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    &__title {
        color: $color;
        font-size:50px;
        text-decoration: none;
        @include stroke(1, $stroke-color);
        &:hover {
            color:$color;
            transform:scale(1.5);
            cursor: pointer;
            text-decoration: none;
        }
    }
}

html,body{
    background-image: url("./images/shuimo2.jpg");
}

.App {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    
}

.navbar-container {
    height: 7vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: rgb(223, 221, 221);

    .navbar-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        list-style-type: none;
    }
}

.homepage {
    height:93vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    &-data {        
        //background-color: rgba(0,0,0,0.3);
        @include homepage-button($data-color,$web-color);
    }
    
    &-web {
        //background-color: rgba(180, 179, 179, 0.3);
        @include homepage-button($web-color,$data-color);
    }

    &-logo {
        width:80%;
        display:flex;
        justify-content: center;
        align-items:center;
        opacity:1;
        &__svg {
            width:80%;
            animation: ckw 15s linear infinite;
        }
        
    }
    
    @keyframes ckw {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}






