
#home-page {
    background-image: linear-gradient(to right, white, black);
}

#yinyang-img {
    animation-name: ckw;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}